/* styles/Experiences.scss */
@import 'variables';

#educacao{
    a{
        color: $cor-secundaria;
        font-size: clamp(12px, 2.2vw, 2.2vw ) ;
    }

    
    .instituicao{
        color: $cor-secundaria;
        font-size: clamp(10px, 1.8vw, 1.8vw);
    }

    p:not(.instituicao){
        font-size: clamp(10px, 1.5vw, 1.5vw);
        padding: 1.5vw 2vw;
        line-height: 1.8;
        margin-bottom: 1.5vw;
    }
}   