    /* styles/Global.scss */
    @import 'variables';
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

    body{
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: $cor-terciaria;
        color: $cor-secundaria;
        text-align: left;
        overflow-x: hidden;

        @media screen and (max-width: 768px) {
            margin-top: 1%;
            margin-left: 3%;
            margin-right: 3%;
        }

        @media screen and (max-width: 480px) {
            margin-top: 0.5%;
            margin-left: 2%;
            margin-right: 2%;
        }
    }
    
    

    h1 {
        color: $cor-secundaria;
        font-family: $fonte-primaria;
        font-size: clamp(24px, 6vw, 6vw);
        white-space: nowrap;

        @media screen and (max-width: 768px) {
            font-size: clamp(26px, 6.5vw, 6.5vw);
        }

        @media screen and (max-width: 480px) {
            font-size: clamp(24px, 6vw, 6vw);
            white-space: normal;
            line-height: 1.3;
        }
      }
    
      h2 {
        color: $cor-secundaria;
        font-family: $fonte-secundaria;
        font-size: clamp(20px, 3vw, 3vw);

        @media screen and (max-width: 768px) {
            font-size: clamp(24px, 4vw, 4vw);
            text-align: center;
        }

        @media screen and (max-width: 480px) {
            font-size: clamp(22px, 4.5vw, 4.5vw);
            text-align: center;
        }

        @media screen and (max-width: 320px) {
            text-align: center;
        }
      }

      h3 {
        color: $cor-secundaria;
        font-size: clamp(16px, 3vw, 3vw);

        @media screen and (max-width: 768px) {
            font-size: clamp(20px, 4vw, 4vw);
        }

        @media screen and (max-width: 480px) {
            font-size: clamp(18px, 4.5vw, 4.5vw);
        }
      }
      
      p {
        color: white;
        font-size: clamp(12px, 1.5vw, 1.5vw);

        @media screen and (max-width: 768px) {
            font-size: clamp(16px, 2.2vw, 2.2vw);
        }

        @media screen and (max-width: 480px) {
            font-size: clamp(16px, 2.5vw, 2.5vw);
        }
      }

      a {
        color: $cor-secundaria;
        font-size: clamp(16px, 2.2vw, 2.2vw);

        @media screen and (max-width: 768px) {
            font-size: clamp(18px, 2.8vw, 2.8vw);
        }

        @media screen and (max-width: 480px) {
            font-size: clamp(17px, 3.2vw, 3.2vw);
        }
      }
    
    /* Padding para parágrafos brancos dentro de seções (excluindo classes especiais, projetos e header) */
    section:not(#projetos):not(#header) p:not(.instituicao):not(.cargo) {
        padding: 1.5vw 2vw;
        line-height: 1.8;
        margin-bottom: 1.5vw;

        @media screen and (max-width: 768px) {
            padding: 2vw 2.5vw;
            line-height: 1.6;
            margin-bottom: 2vw;
        }

        @media screen and (max-width: 480px) {
            padding: 3vw 4vw;
            line-height: 1.6;
            margin-bottom: 3vw;
        }
    }

    /* Seção Sobre - Padding superior no mobile */
    #sobre {
        @media screen and (max-width: 768px) {
            padding-top: 3vw;
        }

        @media screen and (max-width: 480px) {
            padding-top: 4vw;
        }

        @media screen and (max-width: 320px) {
            padding-top: 5vw;
        }
    }

    .line{
        width: 100%;
        height: 1px;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: $cor-secundaria;
    }
      
    @media screen and (max-width: 768px) {
      .line{
        margin-top: 8%;
        margin-bottom: 8%;
      }
    }

    @media screen and (max-width: 480px) {
      .line{
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }    
