    /* styles/Global.scss */
    @import 'variables';
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

    body{
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: $cor-terciaria;
        color: $cor-secundaria;
        text-align: left;
    }

    h1 {
        color: $cor-secundaria;
        font-family: $fonte-primaria;
        font-size: 6vw;
        white-space: nowrap;
      }
    
      h2 {
        color: $cor-secundaria;
        font-family: $fonte-secundaria;
        font-size: clamp(14px, 3vw, 3vw);
        
      }

      h3 {
        color: $cor-secundaria;
        font-size: 3vw;
      }
      
      p {
        color: white;
        font-size: clamp(10px, 1.5vw, 1.5vw);
      }

      a {
        color: $cor-secundaria;
        font-size: clamp(12px, 2.2vw, 2.2vw ) ;
      }
    
    .line{
        width: 100%;
        height: 1px;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: $cor-secundaria;
    }
      
    @media screen and (max-width: 580px) {
      .line{
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }    
