/* styles/Header.scss */
@import 'variables';

#home {
    margin-top: 2%;

  }
  
  .header{
    display: flex;
    flex-direction: column;
    margin-top: 7vw;
    margin-bottom: 7vw;
    > * {
        /* Estilos para todos os elementos dentro de .header */
        margin: 1vw; /* Remover margens padrão */
    }

    @media screen and (max-width: 768px) {
        margin-top: 5vw;
        margin-bottom: 5vw;
        > * {
            margin: 1.5vw;
        }
    }

    @media screen and (max-width: 480px) {
        margin-top: 4vw;
        margin-bottom: 4vw;
        > * {
            margin: 2vw;
        }
    }
  }


  header {
    text-align: left;
  }

  .tela1{
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }
  }

  .grid {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1%; 
    margin-top: 7%;
    margin-left: 3%;
    width: 40vw;
    height: 25vw;

    @media screen and (max-width: 768px) {
        width: 60vw;
        height: 35vw;
        margin-top: 5%;
        margin-left: 0;
        gap: 2%;
    }

    @media screen and (max-width: 480px) {
        width: 80vw;
        height: 50vw;
        margin-top: 4%;
        margin-left: 0;
        gap: 3%;
    }

    img {
      width: 100%;
      height: 100%;
      border: solid 1px $cor-secundaria;
      object-fit: cover;
    }

    img:hover{
      scale: 1.1;
      box-shadow: 4px 4px 8px $cor-secundaria;

      @media screen and (max-width: 480px) {
        scale: 1.05;
      }
    }
  }
  
  .item {
    height: 100%; /* Cada item ocupa 100% da altura disponível */
  }

  .grid.second-child{
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  /* Ajustes para as imagens ocuparem toda a altura do contêiner */
  
