/* styles/Projects.scss */
@import 'variables';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#projetos {
  text-align: left;
  margin-top: 5vw;
  margin-bottom: 5vw;

  .slick-slider {
    margin: 0 30px;
  }

  .slick-list {
    display: block;
    gap: 50%;
  }

  .projeto-card {
    color: $cor-secundaria;
    border-radius: 16px;
    
  

    h3 {
      font-size: 3vw;
      font-family: $fonte-secundaria;
    }

    p {
      font-size: 2vw;
    }

    a {
      color: $cor-secundaria;
      font-size: 2vw;
      font-family: $fonte-secundaria;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}
