/* styles/Projects.scss */
@import 'variables';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#projetos {
  text-align: left;
  margin-top: 5vw;
  margin-bottom: 5vw;
  

  .project-slide {
    margin-right: 20px; /* Ajuste o valor conforme necessário */
  }
  
  .slick-track {
    display: flex;
    gap: 0.85%;
  }



  .projeto-card {
    color: $cor-secundaria;
   
  

    h3 {
      font-size: clamp(14px, 3vw, 3vw);
      font-family: $fonte-secundaria;
    }

    p {
      font-size: clamp(10px, 2vw, 2vw);
    }

    a {
      color: $cor-secundaria;
      font-size: clamp(12px, 2.5vw, 2.5vw);
      font-family: $fonte-secundaria;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}
