/* styles/Skills.scss */

@import 'variables';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


#habilidades{

  h2 {
    text-align: left;
  }

  p{

    font-size: 1.5vw;
  }
  
  .img-skill {
    width: 10vw; /* Ajusta o tamanho da imagem para ocupar toda a largura do contêiner */
    height: auto;
    
  }

  .skill{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}


      


