/* styles/Skills.scss */

@import 'variables';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


#habilidades{
    margin-left: 3%;
    margin-right: 3%;

    @media screen and (max-width: 768px) {
        margin-left: 2%;
        margin-right: 2%;
    }

    @media screen and (max-width: 480px) {
        margin-left: 1%;
        margin-right: 1%;
    }

    h2 {
        text-align: left;
    }

    .img-skill {
        width: 10vw; /* Ajusta o tamanho da imagem para ocupar toda a largura do contêiner */
        height: auto;
        min-width: 30px;

        @media screen and (max-width: 768px) {
            width: 12vw;
            min-width: 35px;
        }

        @media screen and (max-width: 480px) {
            width: 15vw;
            min-width: 40px;
        }
    }

    .skill{
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 5.5%;

        @media screen and (max-width: 768px) {
            margin-top: 4%;
        }

        @media screen and (max-width: 480px) {
            margin-top: 3%;
        }
    }

    img{
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Exemplo de uma função de temporização personalizada usando cubic-bezier */
    }
    
    img:hover{
        scale: 1.2;

        @media screen and (max-width: 480px) {
            scale: 1.15;
        }
    }
}


      


